# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.DotNetKirill.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Kirill\Desktop\DotNetKirill\.idea\.idea.DotNetKirill.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
