# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DotNetKirill.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\User\RiderProjects\DotNetKirill\.idea\.idea.DotNetKirill\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
